<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Projekty",    projekt_index_path %></li>
          <li><%= link_to "Dyskusje",    help_path %></li>
		  <li><%= link_to "Pliki",    lista_plikow_index_path %></li>
          <li><%= link_to "Sign in", new_uzytkownik_session_path %></li>
		  <li><%= link_to "Sign out", destroy_uzytkownik_session_path, :method => :delete %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>