
<h1>Uploadowanie plików</h1>

<table>
  <tr>   
    <th>Sciezka</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test2s.each do |test2| %>
<% mojString = test2.image %>
  <tr>    
    <td><%= mojString %></td>
    <td><%= link_to 'Show', test2 %></td>
    <td><%= link_to 'Edit', edit_test2_path(test2) %></td>
    <td><%= link_to 'Destroy', test2, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'dodaj nowy plik', new_lista_plikow_path %>
