<p id="notice"><%= notice %></p>

<p>
  <b>Id Pliku:</b>
  <%= @plik.IdPlik %>
</p>

<p>
  <b>Scieżka:</b>
  <%= @plik.sciezka_url %>
</p>


<%= link_to 'Edit', edit_lista_plikow_path(@plik) %> |
<%= link_to 'Back', lista_plikow_index_path %>
